.hero-header{
    text-transform: uppercase;
    font-size: 72px;
    line-height: 80px;
    font-weight: 500;
    text-align: center;
    color: #F55A5A;
    text-shadow:
            -0   -3px 0   #585858,
            0   -3px 0   #585858,
            -0    3px 0   #585858,
            0    3px 0   #585858,
            -3px -0   0   #585858,
            3px -0   0   #585858,
            -3px  0   0   #585858,
            3px  0   0   #585858,
            -1px -3px 0   #585858,
            1px -3px 0   #585858,
            -1px  3px 0   #585858,
            1px  3px 0   #585858,
            -3px -1px 0   #585858,
            3px -1px 0   #585858,
            -3px  1px 0   #585858,
            3px  1px 0   #585858,
            -2px -3px 0   #585858,
            2px -3px 0   #585858,
            -2px  3px 0   #585858,
            2px  3px 0   #585858,
            -3px -2px 0   #585858,
            3px -2px 0   #585858,
            -3px  2px 0   #585858,
            3px  2px 0   #585858,
            -3px -3px 0   #585858,
            3px -3px 0   #585858,
            -3px  3px 0   #585858,
            3px  3px 0   #585858,
            -3px -3px 0   #585858,
            3px -3px 0   #585858,
            -3px  3px 0   #585858,
            3px  3px 0   #585858;
}
.afisha{
    text-align: center;
    color: black;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.afisha p{
    text-decoration-color: black;
    text-decoration-thickness: 1px;
    text-underline-offset: -5px;
    text-underline: darkgrey;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-skip-ink: none;
}
.afisha span{
    margin-left: 1%;
    text-decoration: none;
    color: darkgray;
}
.cinema-title{
    color:white;
    text-align: center;
    width: 136px;
    height: 46px;
    background:#B89E9E;
    place-self: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: -2%;
}
.cinema-title strong{
    font-weight: 500;
}
.film-title{
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.eng-film-title{
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    color:#949494;

}
.cards{
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}
.cinema-rainig{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #E2B33A;
}
body{
    background-color : #FFF6F0;
    font-family: \'Roboto\', sans-serif;
}
